<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.carparkingtracker" >

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault.Light">
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ShakespeareActivity"
            android:label="@string/app_name"
            android:parentActivityName=".ShakespeareActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ShakespeareActivity" />
        </activity>
        <activity
            android:name=".CervantesActivity"
            android:label="@string/app_name"
            android:parentActivityName=".CervantesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CervantesActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/app_name"
            android:parentActivityName=".SettingsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SettingsActivity" />
        </activity>
    </application>

</manifest>